html {
    height: 100%;
    margin: 0;
    padding: 0;
 }
 
 
 h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
 }
 
 
 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
 }
 
 
 body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    height: 100%;
 }
 
 
 .navbar-container {
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    box-shadow: -20px 4px 30px rgba(0, 0, 0, 0.1), 20px 4px 30px rgba(0, 0, 0, 0.1);
    width: calc(100% + 40px);
    margin: 0 -20px;
 }
 
 
 nav {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 
 .title {
    text-align: left;
    padding: 0px;
    margin: 0px;
 }
 
 
 .links {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
 }
 
 
 #dashboard-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #675AFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
 }
 
 
 #dashboard-button:hover {
    background-color: #433aa4;
 }
 
 
 .links li {
    display: inline;
    margin-right: 100px;
    text-decoration: none;
 }
 
 
 .links a {
    text-decoration: none;
    color: black;
 }
 
 
 .title a {
    text-decoration: none;
 }
 
 
 h1 {
    padding: 5px;
    margin-left: 0px;
 }
 
 
 .title img {
    width: auto;
    height: 50px;
    margin-left: 100px;
    padding: 3px;
 }
 
 
 .disease-monitoring {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    gap: 20px;
}
 
 
.text-search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    margin-right: 90px;
}
 
 
 .newline {
    display: block;
 }
 
 
 .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    max-width: 400px;
}

 
.img-container img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 40px;
}
 
 .search-bar {
    display: flex;
    justify-content: center;
 }
 
 
 .search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 250px;
 }
 
 
 .search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #675AFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    outline: none;
 }
 
 
 .search-bar button:hover {
    background-color: #433aa4;
 }
 
 
 /* tentative sidebar styling */
 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #675AFF;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
 }
 
 
 .sidebar img.favicon {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
 }
 
 
 .sidebar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s;
 }
 
 
 .sidebar a:hover {
    background-color: #7c85ff;
 }
 
 .sidebar a.return-home {
    padding: 10px 20px;  
    font-size: 16px;    
    background-color: #FFFFFF;  
    color: #675AFF;   
    border: none;      
    cursor: pointer;  
    border-radius: 5px; 
    outline: none;      
    margin-top: auto;   
    width: 49%; 
    text-align: center; 
    transition: background-color 0.3s, color 0.3s; 
    margin-bottom: 40px;
}


.sidebar a.return-home:hover {
    background-color: #675AFF;
    color: #FFFFFF;            
}

 
 
 /* DASHBOARD STYLING */
 #dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
 }
 
 
 #dashboard > section {
    margin: 20px;
    flex: 1;
    max-width: 100%;
 }
 
 
 .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 
 #viral_detection {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 400px;
    margin-right: 200px;
    width: 100%;
 }
 
 
 #viral_detection h1 {
    background-color: white;
    font-size: 48px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: left;
    width: 100%;
    padding: 35px;
 }
 
 
 .viral-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 
 .viral-heading img {
    width: 100%
 }
 
 
 #viral_detection p {
    font-size: 20px;
    color: #969696;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 100%;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 35px;
 }
 
 
 #viral_detection img {
    width: 100%;
    max-height: 100%;
 }
 
 
 
 
 article img {
    max-width: 250px;
    max-height: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
 }
 
 
 article {
    display: inline-block;
    margin: 10px;
    width: 250px;
 }
 
 
 #team_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 
 
 #viral_detection_graphs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin: 20px 0;
    margin-right: -70px;
   
   
 }
 
 #viral_detection_graphs .text-container {
    text-align: left;
    flex: 1;
 }
 
 
 .text-container {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
 
 
 }
 #viral_detection_graphs h2, #viral_detection_graphs p {
    margin: 0;
    display: inline-block;
    justify-content: center;
 }
 
 
 #viral_detection_graphs p {
    color: #969696;
    margin-top: 0px; 
    box-shadow: none;
    padding-left: 1px;
    padding-top: 2px;
    padding-bottom: 5px;
 }
 
 
 #viral_detection_graphs img {
    width: 100px;
    height: auto; 
    margin-left: 20px;
 }

 /* statistics page */
#statistics {
    display: flex;
    flex-direction: column;
    margin-left: 100px; 
    margin-top: 0; 
    padding: 20px; 
    box-sizing: border-box;
    width: calc(100% - 250px);
    position: absolute;
    top: 0;
    right: 0;
    left: 250px;
    bottom: 0;
    overflow-y: auto;
}

.statistics-header {
    width: 100%; 
    font-size: 2em;

}

#statistics .filter,
#statistics #statistics_content > article {
    background-color: #fff; 
    margin-bottom: 20px;
    padding: 15px;
}

#statistics #statistics_content > article {
    display: block;
}

#statistics #statistics_content img {
    max-width: 100%; 
    height: auto;
}

#statistics #statistics_content article h2,
#statistics #statistics_content article p {
    text-align: left;
}

#statistics_disease_score {
    font-size: 4em;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#statistics_zipcode {
    color: #675AFF;
}

.statistics-header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
}

.statistics-header {
    flex-grow: 1; /* Allows the header to grow and fill the space */
    max-width: 60%; /* Limits the width of the header to 60% of the container */
}

.statistics-description {
    flex-basis: 40%; /* Optionally larger than header */
    background-color: #FFFFFF; /* Background color as previous boxes */
    padding: 15px; /* Padding to match other elements */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Shadow to match the design */
    border-radius: 8px; /* Rounded corners */
    color: #969696;
    
}

.risk-score-container {
    flex: 1; /* Lesser space for the risk score container */
    text-align: center; /* Align text to the right */
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.risk-score-label {
    font-size: 1.5em; /* Set the size of the label */
    margin-bottom: 0; /* Removes space between the label and the number */
    padding-right: 0px; /* Padding on the right if needed for alignment */
}

.risk-score-value {
    font-size: 4em; /* Large font size for the score */
    font-weight: bold;
    color: #675AFF; /* Brand color */
    margin: 0; /* Adjust as needed */
    padding-right: 0px; /* Padding on the right to maintain alignment */
}

#statistics_content article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px; /* Space between articles */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.description-score-container {
    display: flex;
}



@media (max-width: 768px) {
    .statistics-header-container {
        flex-direction: column; /* Stack vertically on small screens */
    }
    .statistics-header, .statistics-description {
        margin-right: 0; /* Remove margin between them */
        margin-bottom: 10px; /* Space between header and description */
        flex: none; /* Override previous flex settings */
        width: 100%; /* Full width for smaller screens */
    }
}





 